
# Ignore all
/*

# Except ...
!.github
!DeepPeak
!development
!docs
!tests
!.flake8
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!meta.yaml
!pyproject.toml
!README.rst

# But ignore docs/build inside docs
docs/build/
docs/source/gallery/
